/node_modules
/Modules/Access/node_modules
/Modules/Admin/node_modules
/Modules/Front/node_modules
/Modules/Fortum/node_modules

/public/hot
/public/storage
/public/admin


/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
/nbproject
/yarn.lock
/_ide_helper.php
/public/css/
/public/fonts/
/public/js/
/public/mix-manifest.json
/public/docs/
/resources/docs/
/storage/doc/
/storage/docsimple/
/package-lock.json
storage/app/public/rev_slider/images/
storage/debugbar/


public/userfiles/

public/thumbs/
public/theme/
bootstrap/cache/

storage/framework/laravel-excel/

bootstrap/error_log
error_log
spublic/error_log
