/* Variables */
:root {
    --title-font: 30px;
    --description-font: 23px;
    --abacus-red: #bf4740;
  }

/* Logos */

.hometrend-logo {
    width: 240px !important;
    height: 50px !important;
}

.vodovod-logo {
    width: 250px !important;
    height: 30px !important;
}

.fruit-land-logo {
    width: 240px !important;
    height: 50px !important;
}

.agrooprema-logo {
    width: 240px !important;
    height: 50px !important;
}

.decorex-logo {
    width: 230px !important;
    height: 150px !important;
}

.sopro-logo {
    width: 230px !important;
    height: 150px !important;
}

.mnt-logo {
    width: 320px !important;
    height: 180px !important;
}

.dz-logo {
    width: 220px !important;
    height: 90px !important;
}

.logo-div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


/* Navigation bar */

.navbar.navbar-expand-lg.navbar-dark {
    width: 100% !important;
    background-color: rgba(104, 102, 102, 0.8);
    margin-top: 25px;
}

.dropbtn {
  background-color: #bf4740;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #bf4740;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bf4740;
}

/* esFinx */

.esfinx-header {
    background-color: #f9f9f9;
    height: 350px;
}

/* Other classes */

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1350px !important;
    }
}

.page-client .img-place { 
    height: 180px !important;
    width: 250px !important;
}

.page-client .row .item {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

/* eSFinx */

.container-esfnix {
    margin: 6% 13% 6% 13%;
}

.esfinx-description {
    padding: 0% 3% 9% 3%;
    text-align: center;
    font-size: var(--description-font);
}

.esfinx-points {
    font-size: var(--description-font); 
}

.esfinx-ul {
    list-style-type: none;

    li {
        padding-top: 10px;
    }
}
